body{
    font-family: Arial;
    font-size:20px;
}

emphB{
    content: attr(t);
    font-weight: bold;
    color:blue;
}

emphR{
    content: attr(t);
    font-weight: bold;
    font-style: italic;
    color:red;
}

ul li{
    margin-bottom:5px;
}

ol li{
    margin-bottom:5px;
}

div{
    margin:5px;
}

section{
    margin:5px;
}

article{
    margin:5px;
}

blockquote{
    margin:5px;
    padding:10px;
    border:2px solid black;
    width:600px;
}

#header{
    vertical-align: top;
    border-bottom:2px solid black;
    background-color:azure;
}

aside{
    vertical-align: baseline;
    border-top:2px solid black;
    background-color:azure;
}

#mainArticle{
    vertical-align: 50%;
    margin-left:100px;
}

.noBulletPt{
    list-style-type: none;
}

.noBulletPt li{
    margin-bottom:5px;
}

.circleBulletPt{
    list-style-type: circle;
}

.circleBulletPt li{
    margin-bottom:5px;
}

.romanNumbered{
    list-style-type: upper-roman;
}

.romanNumbered li{
    margin-bottom:5px;
}

.floatL{
    float:left;
}

.floatR{
    float:right;
}

.clearB{
    clear:both;
}

.clearR{
    clear:right;
}

.clearL{
    clear:left;
}

.centerText{
    text-align: center;
    font-family:'Times New Roman';
}

.leftText{
    text-align: left;
    margin-left:10px;
}

.rightText{
    text-align: right;
    margin-right:10px;
}

.centerItem{
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.indented{
    margin-left:10px;
}

.emphRed{
    font-weight:bold;
    color:red;
    font-style:italic;
}

.emphBlue{
    font-weight:bold;
    color:blue;
}

.imgSub{
    margin-left:10px;
    font-weight:bold;
}